Breast cancer: Benign or Malignant

# **Data preprocessing**

In [1]:
#reading dataset from csv file
import pandas as pd
data=pd.read_csv("data.csv")

In [2]:
#view the data present
data

           id diagnosis  ...  fractal_dimension_worst  Unnamed: 32
0      842302         M  ...                  0.11890          NaN
1      842517         M  ...                  0.08902          NaN
2    84300903         M  ...                  0.08758          NaN
3    84348301         M  ...                  0.17300          NaN
4    84358402         M  ...                  0.07678          NaN
..        ...       ...  ...                      ...          ...
564    926424         M  ...                  0.07115          NaN
565    926682         M  ...                  0.06637          NaN
566    926954         M  ...                  0.07820          NaN
567    927241         M  ...                  0.12400          NaN
568     92751         B  ...                  0.07039          NaN

[569 rows x 33 columns]

In [3]:
#drop first column having ids
data=data.iloc[:,1:32]

In [4]:
#convert the output column into numbers : 1 for 'M' , 2 for 'B'
match={'M':0,'B':1}
for i in range(0,len(data)):
  data.loc[i,'diagnosis']=match[data.loc[i,'diagnosis']]

In [5]:
#data after adding diagnosis column to know if it benign or malignant
data

    diagnosis  radius_mean  ...  symmetry_worst  fractal_dimension_worst
0           0        17.99  ...          0.4601                  0.11890
1           0        20.57  ...          0.2750                  0.08902
2           0        19.69  ...          0.3613                  0.08758
3           0        11.42  ...          0.6638                  0.17300
4           0        20.29  ...          0.2364                  0.07678
..        ...          ...  ...             ...                      ...
564         0        21.56  ...          0.2060                  0.07115
565         0        20.13  ...          0.2572                  0.06637
566         0        16.60  ...          0.2218                  0.07820
567         0        20.60  ...          0.4087                  0.12400
568         1         7.76  ...          0.2871                  0.07039

[569 rows x 31 columns]

In [ ]:
# split into input (X) and output (y) variables
X = data.iloc[:,1:]
y = data.iloc[:,0]

In [15]:
#converting the output column to int type from object type to feed into the model
y=y.astype('int')

In [16]:
#splitting the data into test and train sets 
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [17]:
#scaling the input featuras they all are indifferent ranges and normalising them would ensure no input overshadows
# the other due to its high value.
from sklearn.preprocessing import StandardScaler    
st_x= StandardScaler()    
X_train= st_x.fit_transform(X_train)    
X_test= st_x.transform(X_test)

# **Using KNN classifier**

In [18]:
#First alogorithm; KNN classifier 
from sklearn.neighbors import KNeighborsClassifier  
classifier= KNeighborsClassifier(n_neighbors=5)

In [19]:
#fitting the training data into the KNN model
classifier.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [21]:
#testing the model on the test set
y_pred= classifier.predict(X_test)

In [22]:
#testing out the metrics through confusion matrix
#inferred as:
# 63 values were outputted to 0 and were actually 0
# 117 values were outputted to 1 and were actually 1
# 4 values were outputted to 1 and were actually 0
# 4 values were outputted to 0 and were actually 1

from sklearn.metrics import confusion_matrix  
print(confusion_matrix(y_test, y_pred))

[[ 63   4]
 [  4 117]]

In [23]:
#the model's accuracy was 96% i.e. it predicted 96% of the data correctly.
from sklearn.metrics import classification_report  
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.94      0.94      0.94        67
           1       0.97      0.97      0.97       121

    accuracy                           0.96       188
   macro avg       0.95      0.95      0.95       188
weighted avg       0.96      0.96      0.96       188

# **Using Logistic Regression**

In [24]:
#Second alogorithm; Logistic regression
from sklearn.linear_model import LogisticRegression
lm=LogisticRegression()

In [25]:
#fitting the training data into the KNN model
lm.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [27]:
#testing the model on the test set
y_pred=lm.predict(X_test)

In [28]:
#testing out the metrics through confusion matrix
#inferred as:
# 66 values were outputted to 0 and were actually 0
# 118 values were outputted to 1 and were actually 1
# 1 values were outputted to 1 and were actually 0
# 3 values were outputted to 0 and were actually 1

print(confusion_matrix(y_test, y_pred))

[[ 66   1]
 [  3 118]]

In [29]:
#the model's accuracy was 98% i.e. it predicted 98% of the data correctly.
from sklearn.metrics import classification_report  
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.96      0.99      0.97        67
           1       0.99      0.98      0.98       121

    accuracy                           0.98       188
   macro avg       0.97      0.98      0.98       188
weighted avg       0.98      0.98      0.98       188